header {
  font-size: 25px;
  text-decoration: underline;
}

#main-doc{
  position: absolute;
  margin-left:250px;
  padding:20px;
  margin-bottom:10px;
}

 p {
  font-size: 20px;
}

code {
  display: block;
  margin: 30px;
  padding: 10px;
  font-size: 15px;
  background-color:#C0C0C0;
  border-radius: 30px;
}

#navbar {
  text-decoration: none;
  position: fixed;
  border-right: solid;
  top:0px;
  left:0px;
  width:250px;
  height:100%;
}

#navbar li {
  color: #000000;
  border:3px solid;
  border-bottom-width:3px;
  padding:8px;
  padding-left:38px;
  left:-50px;
  width:100%;
  list-style: none;
  position:relative;
  
}

#navbar a{
    text-decoration:none;
} 

@media screen and (max-height: 400px)
{
  #main-doc {
    position: absolute;
  }
}